{% extends 'layout.html' %} {% block title %} Movie Edit {% endblock %} {% block
body %}

<form
  action="{{url_for('admin_router.admin_movies_edit',movie_id=movie['id'])}}"
  method="post"
  enctype="multipart/form-data"
>
  <input type="text" name="title" value="{{movie.title}}" />
  <br />
  <textarea name="description" cols="30" rows="4">
{{movie.description}}</textarea
  >
  <br />
  <input type="text" name="length" value="{{movie.length}}" />
  <br />
  <input
    type="number"
    name="rating"
    step="0.01"
    min="0"
    max="10"
    value="{{movie.rating}}"
  />
  <br />
  <input type="date" name="release" id="" value="{{movie.release}}" />
  <br />
  <input type="text" name="trailer" value="{{movie.trailer}}" />
  <br />
  <label for="featured">Is Featured ?</label>
  <input
    id="featured"
    type="checkbox"
    name="is_featured"
    value="{{movie.is_featured}}"
  />
  <br />
  <select name="genres" id="genres" multiple>
    <option disabled selected>Choose Genres</option>
    {% for genre in genres %}
    <option value="{{genre.id}}" {% if genre.exist %}selected{% endif %}>
      {{genre.name}}
    </option>
    {% endfor %}
  </select>
  <select name="actors" id="actors" multiple>
    <option disabled selected>Choose Actors</option>
    {% for actor in actors %}
    <option value="{{actor.id}}" {% if actor.exist %}selected{% endif %}>
      {{actor.name}}
    </option>
    {% endfor %}
  </select>
  <select name="directors" id="directors" multiple>
    <option disabled selected>Choose Directors</option>
    {% for director in directors %}
    <option value="{{director.id}}" {% if director.exist %}selected{% endif %}>
      {{director.name}}
    </option>
    {% endfor %}
  </select>

  <img
    src="{{movie.poster}}"
    alt=""
    id="shownPoster"
    height="300"
    width="200"
  />
  <button
    style="
      display: block;
      width: 180px;
      height: 65px;
      border-radius: 10px;
      padding: 8px;
    "
    onclick="document.getElementById('newPoster').click();return false;"
  >
    Leave this if no change or click to upload new image
  </button>
  <input name="poster" type="file" id="newPoster" style="display: none" />

  <br /><br />

  <input type="submit" value="Edit Now" />
</form>
<script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>
<script>
  const TomOptions = {
    create: false,
  };
  new TomSelect("#genres", TomOptions);
  new TomSelect("#actors", TomOptions);
  new TomSelect("#directors", TomOptions);

  document.getElementById("newPoster").onchange = function (evt) {
    var tgt = evt.target || window.event.srcElement,
      files = tgt.files;

    // FileReader support
    if (FileReader && files && files.length) {
      var fr = new FileReader();
      fr.onload = function () {
        document.getElementById("shownPoster").src = fr.result;
      };
      fr.readAsDataURL(files[0]);
    }
  };
</script>
{% endblock %}
