<link rel="stylesheet" href="/static/css/aboutUs.css">

<div class="container">
    <div class="boxAboutUs">
        <div class="img-holder">
            <img src="/static/imges/About.png" alt="Our company">
        </div>
        <h1>What we have</h1>
        <h3>
            We're the company that brings people together through extraordinary events - all for free. No financial barriers, just unforgettable experiences. <br>Join us for inclusive, joyful gatherings that foster connections and celebrate life's moments. <br>Let's create cherished memories together.<br> #Events #Community  
             </h4>
        <ul><a href="https://www.facebook.com/hub200.tiq" target="_blank"><i class="fa-brands fa-facebook-f"> </i></a></ul>
        <ul><a href="https://www.instagram.com/hub200.tiq/" target="_blank"><i class="fa-brands fa-instagram"> </i></a></ul>
    </div>
</div>
