{% extends 'layout.html' %} {% block title %} Shows page {% endblock %} {% block
body %}
<p class="p">Shows</p>
<div class="grid-container">
  {% for show in shows %}
  <div class="container-row">
    <a
      style="width: fit-content"
      href="{{url_for('shows_router.show_details', show_id=show.id)}}"
    >
      <img
        width="200px"
        height="200px"
        style="object-fit: fill; border-radius: 7px"
        src="{{show.poster}}"
        alt=""
      />
    </a>
    <div class="container-col">
      <p class="heading">{{show.title}}</p>
      <a class="a" href="{{show.trailer}}" target="_blank">YouTube</a>
      <span class="span"> Duration: {{ show.length }}</span>
      <span class="span"> Rating: {{ show.rating }}</span>
      <span class="span"> Release: {{ show.release }}</span>
    </div>
  </div>

  {% endfor %}
</div>
{% endblock %}
