<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Actor</title>
</head>
<body>
    <form action="{{url_for('admin_router.admin_actors')}}" method="post" enctype="multipart/form-data">
        <input type="text" required name="name" placeholder="Actor Name...">
        <label for="photo">Actor Photo</label>
        <input type="file" required name="photo" id="photo">
        <input type="submit" value="Add Actor">
    </form>
</body>
</html>