<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>People Edit</title>
</head>
<body>
    <form action="{{url_for('admin_router.admin_people_edit', people_id=person.id)}}" method="post" enctype="multipart/form-data">
        <div class="form-input">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" value="{{person.name}}">
        </div>
        <div class="form-input">
            <img src="{{person.photo}}" height="300px" width="200px" alt="" id="shownPhoto">
            <button style="display:block;width:180px; height:65px;border-radius:10px;padding:8px;" onclick="document.getElementById('newPhoto').click();return false;">Leave this if no change or click to upload new image</button>
            <input type="file" id="newPhoto" name="photo" style="display: none;">
        </div>

        <input type="submit" value="Edit Now">
    </form>

    <script>
        document.getElementById('newPhoto').onchange = function (evt) {
            var tgt = evt.target || window.event.srcElement,
                files = tgt.files;
            
            // FileReader support
            if (FileReader && files && files.length) {
                var fr = new FileReader();
                fr.onload = function () {
                    document.getElementById('shownPhoto').src = fr.result;
                }
                fr.readAsDataURL(files[0]);
            }
        }
    </script>
</body>
</html>