<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin People </title>

</head>
<body>
    {% for person in people %}
    <div class="card">
        <img src="{{person.photo}}" alt="" width="200px" height="300px">
        <div class="info">
            <a href="{{url_for('admin_router.admin_people_edit', people_id=person.id)}}">{{person.name}}</a>
        </div>
    </div>
    {% endfor %}
</body>
</html>